<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
</head>
<body>
    <header>
        <h1 class="home"><a href="{{ '/' | url }}"> {{ metadata.title  }} </a></h1>
        <nav>
            {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            {%- endfor %}
        </nav>
      </header>
    <main>
        {{ content | safe }}
      </main>
</body>
</html>